# Django Settings
SECRET_KEY=django-insecure-fs@=rtgqcaczbdt_k(i02$8*p$81&e=w6m-wb9xp7u(8(wqqts
DEBUG=True

# Database
DATABASE_URL=

# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Google Gemini API
GEMINI_API_KEY=

# Django Admin Credentials
DJANGO_ADMIN_USER=chef
DJANGO_ADMIN_PASSWORD=chef123
DJANGO_ADMIN_EMAIL=admin@chefedwin.com
